.data-sub {
  // display: none;
  font-family: "Futura Today Light", Arial,sans-serif;
}

.data-head {
  // display: none;
  font-family: "Futura Today", Arial,sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

.data-list {
  list-style: none;
  margin: 0.5em;
  padding: 0;
}

.panel-data {
  display: block;
  height: auto;
  padding: 1em 0;
  position: relative;
  &.hidden {
    display: none;
  }
}

.panel-wrap {
  color: $dark-grey;
  padding: 2em 0 5em 0;
}

.data-wrap {
  padding:1em;
   @extend .group;
}

.county-item {
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
}

.data-group {
  text-align: center;
}

.sub-group {
  float: left;
  margin-top: 0.5em;
  width: 50%;
}


.data-section {
  display: block;
  float: none;
 
  @media (min-width: 600px) {
    float: left;
    display: inline-block;
    width: 50%;
  }
}

.inner-wrap {
  padding: 0 2em;
}
